{% extends "base.html.twig" %} 

{% block body %}
    <main class="container-fluid">

        <div class="row justify-content-center blocLogo">
            <div class="col logo"></div>
        </div>
        
        <div class="bulle">
            <p><span class="text">explorer</span></p>
            <p><span class="arrow"><i class="fas fa-long-arrow-alt-down"></i></span><p>
        </div>
        
        <div id="scene" class="scene d-none d-lg-block ">
            <img class="map col" src="{{ asset('images/MapSansBatiment.png') }}">
            <ul>
                <li><span class="titleArea" id="bibent">Le Bibent</span><a href="{{ path('project', { 'id' : 2 } )}}"><img id="area1" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/bibent.png') }}" alt="Le Bibent"></a></li>
                <li><span class="titleArea" id="biblio">La Bibliothèque</span><a href=""><img id="area2" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/bibliotheque.png') }}" alt="La Bibliotheque"></a></li>
                <li><span class="titleArea" id="ecole">L'école</span><a href="{{ path('project', { 'id' : 5 } )}}"><img id="area3" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/ecole.png') }}" alt="L'école"></a></li>
                <li><span class="titleArea" id="foret">La Forêt</span><a href="{{ path('project', { 'id' : 1 } )}}"><img id="area4" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/foret.png') }}" alt="La Foret"></a></li>
                <li><span class="titleArea" id="ile">L'île</span><a href="{{ path('project', { 'id' : 4 } )}}"><img id="area5" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/ile.png') }}" alt="L'île"></a></li>
                <li><span class="titleArea" id="mercerie">La Mercerie</span><a href="{{ path('project', { 'id' : 3 } )}}"><img id="area6" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/mercerie.png') }}" alt="La Mercerie"></a></li>
                <li><span class="titleArea" id="metro">Le Métro</span><a href="{{ path('project', { 'id' : 8 } )}}"><img id="area7" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/metro.png') }}" alt="Le Métro"></a></li>
                <li><span class="titleArea" id="observ">L'Observatoire</span><a href="{{ path('project', { 'id' : 10 } )}}"><img id="area8" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/observatoire.png') }}" alt="L'Observatoire"></a></li>
                <li><span class="titleArea" id="office">L'Office de tourisme</span><a href="/#aboutMe"><img id="area9" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/officeDeTourisme.png') }}" alt="L'Office de tourisme"></a></li>
                <li><span class="titleArea" id="patisserie">La Patisserie</span><a href="{{ path('project', { 'id' : 9 } )}}"><img id="area10" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/patisserie.png') }}" alt="La Patisserie"></a></li>
                <li><span class="titleArea" id="prairie">La Prairie</span><a href="{{ path('project', { 'id' : 7 } )}}"><img id="area11" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/prairie.png') }}" alt="La Prairie"></a></li>
                <li><span class="titleArea" id="tardis">La Cabine Téléphonique</span><a href="/#contact"><img id="area12" class="imgLieuxMap" src="{{ asset('images/lieuxNavBar/tardis.png') }}" alt="La Cabine Téléphonique"></a></li>
            </ul>
        </div>
        
        <section class="container sectionProjet">   
            <div class="row justify-content-center" id="card">
                {% set count = 0 %}
                {% for project in projects if count < 6%}   
                {% set count = count + 1 %}
                <div class="col-lg-4 col-md-6 col-sm-12 cardProject">
                    <a class="card" href="{{ path('project', { 'id' : project.id} )}}">
                        <div class="card-body">
                            <h5 class="card-title">{{project.title}}</h5>
                            <div class="line"></div>
                            <p class="card-text">{{project.subtitle}}<p>
                        </div>
                        <img src="{{ asset('images/cards/' ~ project.imageCard) }}" class="card-img-top" alt="...">
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                <a href="{{ path('portfolio') }}" class="btnMoreProject">Pour encore plus d'histoire ...</a>
            </div>            
        </section>
        
        <section class="container-fluid sectionAbout" id="aboutMe">
            <div class="row">
                <img class="col-md-6 col-sm-12 blocSheepLeft" src="{{ asset('images/Logo.png') }}">
                <div class="col-md-6 col-sm-12 blocSheepRight container">
                    <div class="textRight">
                        <p>la laine à</p>
                        <p>...</p>
                        <p>box</p>
                    </div>
                    <div class="row justify-content-center" id="buttonBg">
                        <a href="{{ path('project', { 'id' : 7 } )}}" class="btn">à la découverte de la laine de Grande Région !</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 blocAbout">
                    <h1>à propos</h1>
                    <div class="line"></div>
                    <p>Se raconter des histoires, imaginer des scènarii, des expériences uniques, poétiques, fun, culturelles, scientifiques, narratives, participatives, interactives et pleines de découvertes pourvue qu'elles nous transmettent et nous transportent dans l'interstice secret des relations suscitées et de l'émerveillement collectif.</p>
                    <p>Je m'appelle Lenaïg Bourgoin. Investie et passionnée, j’aime penser des scénarios simples et innovants, me raconter des histoires pour que mes projets puissent en transmette à leur tour. Tout au long de mes études et de mes expériences professionnelles, j’ai développé une sensibilité pour les projets éthiques et culturels, plaçant l’usager, l’acteur, le visiteur ou encore le spectateur au cœur de ma réflexion, à la recherche d'une réponse maline et malicieuse pour offrir des expériences entières, uniques et poétiques. Au cours de mes stages et de mon projet de diplôme de DSAA, j’ai aussi pu développer un goût pour les interactions, chaque fois nouvelles et riches d’apprentissage, entre les différents domaines qui gravitent autour de chaque projets, de leur commencement à leur aboutissement.</p>
                </div>
                <div class="col-3 green"></div>
                <div class="col-3 white"></div>
            </div>
        </section>
        
        <section class="form container" id="contact">

            {% for message in app.flashes('success') %}
                <div class="row justify-content-center">
                    <div class="alert alert-success col-4" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            <h2>Pour se racconter des histoires !</h2>
            <div class="line"></div>
            {{ form_start(form) }}
            <div class="row form-group justify-content-center">
                <div class="col-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-8">
                    {{ form_row(form.phone) }}
                </div>    
                <div class="col-8">
                    {{ form_row(form.message) }}
                </div>    
            {{ form_end(form) }}
                <div class="col-8">
                    <button type="submit" id="buttonForm" class="btn btn-secondary btn-block">Envoyer</button>
                </div>
            </div>
        </section>
    </main>
        
{% endblock %}