{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<section class="container sectionProjet"> 
    
    <div class="row justify-content-center" id="card">
    {% for project in projects %}
        <div class="col-lg-4 col-md-6 col-sm-12 cardProject">
            <a class="card" href="{{ path('project', {'id' : project.id} ) }}">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <div class="line"></div>
                    <p class="card-text">{{project.subtitle}}<p>
                </div>
                <img src="{{ asset('images/cards/' ~ project.imageCard) }}" class="card-img-top" alt="...">
            </a>
        </div>
    {% endfor %}
    </div>

</section>
{% endblock %}
