{% extends "base.html.twig" %}

{% block body %}

<div class="row pageProject">
    <div class="col-sm-12 col-md-5 project">
        <a href="{{ path('portfolio') }}" class="btnBackProject">Retour aux projets</a>
        <h1 class="titleProject">{{project.title}}</h1>
        <div class="lineProject"></div>
        <h2 class="subtitleProject">{{project.subTitle}}</h2>
        {{project.content|raw}}
    </div>
    <div class="col-sm-12 col-md-7">
        {% for image in images %}
            <img class="imageProject" src="{{ asset('images/projectImages/' ~ image.name ) }}" alt="image projet">
        {% endfor %}
    </div>
</div>

{% endblock %}