{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello Administrateur!{% endblock %}

{% block body %}
<h1>Modifier un projet</h1>
<section class="container sectionProjet">   
    <div class="row justify-content-center" id="card">
    {% for project in projects %}    
    <div class="col-md-4 col-sm-12 cardProject">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <div class="line"></div>
                <p class="card-text">{{project.subtitle}}<p>
            </div>
            <img src="{{ asset('images/cards/' ~ project.imageCard ) }}" class="card-img-top" alt="...">
        </div>
        <a href="{{ path('edit_project', {'id': project.id} )}}" class="btn btn-primary edit"><i class="fas fa-edit"></i></a>
        {% for project in projects if project.id <= 12 %}
            <a href="{{ path('delete_project', {'id': project.id} )}}" class="btn disabled btn-danger delete"><i class="fas fa-dumpster"></i></a>
        {% endfor %}
        {% for project in projects if project.id > 12 %}
            <a href="{{ path('delete_project', {'id': project.id} )}}" class="btn btn-danger delete"><i class="fas fa-dumpster"></i></a>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
</section>
{% endblock %}