{% extends "baseAdmin.html.twig" %}


{% block body %}
<h1>
    {% if editMode %}
        Modifier un project
    {% else %}
        Créer un nouveau projet
    {% endif %}
</h1>
<div class="container">
    {{ form_start(formProject) }}
    {{ form_row(formProject.title) }}
    {{ form_row(formProject.subtitle) }}
    {{ form_row(formProject.imageCard) }}

    {% if editMode %}
        <img src="{{ asset('images/cards/' ~ project.imageCard) }}" alt="Carte projet" class="wysiwygImage">
    {% endif %}

    {{ form_row(formProject.content, {'id': 'summernote'}) }}
    {{ form_row(formProject.images) }}
    {% if editMode %}
        {% for image in images %}           
            <img src="{{ asset('images/projectImages/' ~ image.name) }}" alt="Image projet" class="wysiwygImage">
        {% endfor %}
    {% endif %}

    <br>
    <button type="submit" class="btn btn-primary">
        {% if editMode %}
            Modifier le projet
        {% else %}
            Créer le projet
        {% endif %}
    </button>
    {{ form_end(formProject) }}
</div>


{% endblock %}